<section>
  <div class='brick'>
    <div class='wrapper'>
      <h2 class='h-alpha'><span>Somos</span> Redradix</h2>
      <h3 class='h-gamma'>Creemos que hay una manera mejor de hacer proyectos digitales</h3>
      <p>Pensamos, diseñamos y desarrollamos soluciones simples a problemas complejos utilizando metodologías ágiles y tecnologías web. Somos el complemento perfecto para los proyectos de tu gran empresa: ágiles, rápidos, eficientes y profesionales.</p>
      <p>Nos salimos del marco establecido para obtener resultados excepcionales de manera rápida y flexible, adaptándonos a las necesidades del negocio y aportando todos nuestros años de experiencia en proyectos digitales.</p>
    </div>
  </div>
</section>

<%- partial("_shared/clientes") %>

<section class='brick'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Proyectos</span> realizados</h2>
    <h3 class='h-gamma'>Te enseñamos la punta del iceberg</h3>
  </div>
  <div class='project-list'>
    <%- partial("_shared/proyectos") %>
  </div>
</section>

<a class='spotlight slab-dark' href='/contacto' rel="nofollow">
  <strong>¿Quieres crear algo con nosotros?</strong> Hablemos
  <span class='icon icon-arrow'></span>
</a>
