<section class='brick'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Curiosidad</span> Sin Límites</h2>
    <h2 class='h-gamma'>Somos un equipo motivado y con una gran pasión por nuestro trabajo.</h2>
    <p>Creemos que mantener un entorno de trabajo agradable y proactivo es fundamental para fomentar la creatividad y el trabajo intelectual.
      Nos gusta el respeto, la transparencia, la honestidad y el trabajo duro, sin olvidarnos de que también es importante saber descansar y divertirse mientras aprendemos.</p>
    <p>Nos gustan los retos, por lo que estamos constantemente aprendiendo y enseñando, ya sea con cursos, charlas, talleres o eventos. Y de vez en cuando nos juntamos todos para ponernos las pilas y hacer un hackathon de donde salen ideas de mejora para nosotros o para nuestros mejores clientes.</p>
  </div>
</section>
<section class='brick-m'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Estos somos </span>Nosotros</h2>
  </div>
  <ul class='team l-xspace'>

    <li class='team-member'>
      <img alt="Juan Marí" src="/images/team/juan.jpg" />
      <div class='info'>
        <p class='name'>Juan Marí</p>
        <span class='job'>CEO</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Miguel Martín" src="/images/team/miguel.jpg" />
      <div class='info'>
        <p class='name'>Miguel Martín</p>
        <span class='job'>Director de Tecnología</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Alejandro Andrés" src="/images/team/alej.jpg" />
      <div class='info'>
        <p class='name'>Alejandro Andrés</p>
        <span class='job'>Director de Marketing</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Alicia Ibáñez" src="/images/team/ali.jpg" />
      <div class='info'>
        <p class='name'>Alicia Ibáñez</p>
        <span class='job'>Directora de UX</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Luis Gil" src="/images/team/luis.jpg" />
      <div class='info'>
        <p class='name'>Luis Gil</p>
        <span class='job'>UX</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Diana Gutiérrez" src="/images/team/diana.jpg" />
      <div class='info'>
        <p class='name'>Diana Gutiérrez</p>
        <span class='job'>Diseñadora</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Sara Moreno" src="/images/team/sara.jpg" />
      <div class='info'>
        <p class='name'>Sara Moreno</p>
        <span class='job'>Diseñadora</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Chema Montero" src="/images/team/chema.jpg" />
      <div class='info'>
        <p class='name'>Chema Montero</p>
        <span class='job'>Diseñador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Cynthia Dodd" src="/images/team/cynthia.jpg" />
      <div class='info'>
        <p class='name'>Cynthia Dodd</p>
        <span class='job'>Desarrollo de negocio</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="José Luis de Vega" src="/images/team/jose.jpg" />
      <div class='info'>
        <p class='name'>José Luis de Vega</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Arturo Muñoz" src="/images/team/arturo.jpg" />
      <div class='info'>
        <p class='name'>Arturo Muñoz</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Julián Toledo" src="/images/team/julian.jpg" />
      <div class='info'>
        <p class='name'>Julián Toledo</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Carlos de la Orden" src="/images/team/carlos.jpg" />
      <div class='info'>
        <p class='name'>Carlos de la Orden</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Daniel Grijuela" src="/images/team/dani.jpg" />
      <div class='info'>
        <p class='name'>Daniel Grijuela</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Aarón Contreras" src="/images/team/aaron.jpg" />
      <div class='info'>
        <p class='name'>Aarón Contreras</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Victor Miguez Martinez" src="/images/team/victor.jpg" />
      <div class='info'>
        <p class='name'>Victor Miguez Martinez</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Helio Alejandro Dominguez Bayo" src="/images/team/helio.jpg" />
      <div class='info'>
        <p class='name'>Helio Alejandro Dominguez Bayo</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Christian de Barrio" src="/images/team/chris.jpg" />
      <div class='info'>
        <p class='name'>Christian de Barrio</p>
        <span class='job'>Desarrollador</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Elías Alonso" src="/images/team/elias.jpg" />
      <div class='info'>
        <p class='name'>Elías Alonso</p>
        <span class='job'>Consultor tecnológico</span>
      </div>
    </li>

    <li class='team-member'>
      <img alt="Bo" src="/images/team/bo.jpg" />
      <div class='info'>
        <p class='name'>Bo</p>
        <span class='job'>Guardia de Seguridad</span>
      </div>
    </li>

  </ul>

</section>

<a class='spotlight slab-dark' href='mailto:jobs@redradix.com'>
  <strong>¿Quieres unirte a nosotros?</strong> Danos un toque
  <span class='icon icon-arrow'></span>
</a>
