
<div class='brick'>
  <div class='wrapper'>
    <h2 class='h-gamma'>Nos gustaría enseñarte todo lo que hemos hecho pero no siempre es posible: consultoría, estrategia, formación, investigación, conceptualización, prototipado, diseño, arquitectura, desarrollo, test, integración continua, despliegue, optimización y conversión son algunos de los términos que nos gusta oir.</h2>
  </div>
</div>

<%- partial("../_shared/proyectos") %>

<%- partial("../_shared/clientes") %>

<a class='spotlight slab-dark' href='/contacto' rel="nofollow">
  <strong>¿Quieres crear algo con nosotros?</strong> Hablemos
  <span class='icon icon-arrow'></span>
</a>
