
<div class='contact-info'>
  <ul class='g wrapper'>
    <li class='gi one-third'>

    </li>
    <li class='gi one-third'>
      <span class='icon icon-location'></span>
      <div class='info'>
        <strong class='heading'>Redradix HQ</strong>
        <p>
          C/Calatrava, 27 (local)
          <br>
          28005 Madrid, Spain
          <br>
          (+34) 91 434 63 36
          <br>
          <a href='mailto:info@redradix.com'>
            <strong>info@redradix.com</strong>
          </a>
        </p>
      </div>
    </li>
    <li class='gi one-third'>

    </li>
  </ul>
</div>
<div class='main-footer wrapper'>
  <ul class='social'>
    <li>
      <a class='icon icon-twitter' href='https://twitter.com/redradix' rel="nofollow"></a>
    </li>
    <li>
      <a class='icon icon-facebook' href='https://www.facebook.com/redradixcom' rel="nofollow"></a>
    </li>
    <li>
      <a class='icon icon-github' href='https://github.com/redradix' rel="nofollow"></a>
    </li>
  </ul>
  <ul class='legal'>
    <li>
      &copy; Redradix 2017
    </li>
    <li>
      <a href="/politica-de-privacidad" rel="nofollow">Política de privacidad</a>
    </li>
    <li>
      <a href="/aviso-legal" rel="nofollow">Aviso legal</a>
    </li>
  </ul>
</div>
