
<article class='c-intropia case'>
  <div class='case-image'>
    <img alt="intropia" src="/images/covers/intropia.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>intropia</h3>
    <p class='subtitle'>Diseño y desarrollo</p>
    <a class="button-outline-light" href="/proyectos/intropia" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-gmv case'>
  <div class='case-image'>
    <img alt="GMV" src="/images/covers/gmv.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>GMV</h3>
    <p class='subtitle'>Diseño y desarrollo</p>
    <a class="button-outline-light" href="/proyectos/gmv" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-canalplus case'>
  <div class='case-image'>
    <img alt="Canal+" src="/images/covers/canalplus.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>Canal+</h3>
    <p class='subtitle'>Diseño y desarrollo</p>
    <a class="button-outline-light" href="/proyectos/canalplus" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-wanabet case'>
  <div class='case-image'>
    <img alt="Wanabet" src="/images/covers/wanabet.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>Wanabet</h3>
    <p class='subtitle'>Diseño y desarrollo</p>
    <a class="button-outline-light" href="/proyectos/wanabet" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-antevenio case'>
  <div class='case-image'>
    <img alt="MDirector: Landing Page Generator" src="/images/covers/antevenio.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>Antevenio MDirector</h3>
    <p class='subtitle'>Diseño y desarrollo</p>
    <a class="button-outline-light" href="/proyectos/antevenio" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-loreal case'>
  <div class='case-image'>
    <img alt="La Roche Possay" src="/images/covers/loreal.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>La Roche Possay</h3>
    <p class='subtitle'>Aplicación móvil híbrida</p>
    <a class="button-outline-light" href="/proyectos/loreal" rel="nofollow">Ver proyecto</a>
  </div>
</article>
<article class='c-prensalibre case'>
  <div class='case-image'>
    <img alt="Prensalibre" src="/images/covers/prensalibre.jpg" />
  </div>
  <div class='case-info'>
    <h3 class='title'>Prensalibre</h3>
    <p class='subtitle'>Diseño y desarrollo frontend</p>
    <a class="button-outline-light" href="/proyectos/prensalibre" rel="nofollow">Ver proyecto</a>
  </div>
</article>
