<section class='brick'>
  <div class='wrapper'>
    <h2 class='h-alpha'>Te escuchamos</h2>

    <div class="typeform-widget" data-url="https://redradixsurvey.typeform.com/to/qejwZM" data-text="Contacto web" style="width:100%;height:500px;margin:0px;padding:0px;"></div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

  </div>
</section>

<section>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Donde</span> Estamos</h2>
    <h2 class='h-gamma'>Si quieres venir, te estamos esperando</h2>
  </div>
  <div class='locations g l-xspace'>
    <div class='gi one-third location-box is-active' data-lat='40.409331' data-lng='-3.71219' data-title='Redradix HQ'>
      <span class='title'>
        <strong>MADRID</strong>
      </span>
      <span class='address'>
        C/ Calatrava, 27 (local)
        <br>
        28005 Madrid, Spain
      </span>
    </div>
    <div class='map-content is-active contact-map' data-center='.location-box:first' id='map'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.982169764849!2d-3.7143431845820363!3d40.40924577936607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287e4a90167b%3A0x9bfdc0ed1f91d800!2sRedradix!5e0!3m2!1sen!2ses!4v1488968026480" frameborder="0" style="border:0;height:100%;width:100%;" allowfullscreen></iframe>
    </div>
  </section>
