<div class='masthead'>
  <a class='logo' href='https://redradix.com'>
    <img alt="Logo de Redradix" src="/images/logoRedradix.svg" />
  </a>
  <nav class='main-nav'>
    <a class='menu' href='#'>
      <span>menu</span>
      <span class='icon-menu'></span>
    </a>
    <ul>
      <li>
        <a href="/sobre-nosotros" rel="nofollow">Sobre nosotros</a>
      </li>
      <li>
        <a href="/servicios">Servicios</a>
      </li>
      <li>
        <a href="/proyectos" rel="nofollow">Proyectos</a>
      </li>
      <li>
        <a href="/cursos">Cursos</a>
      </li>
      <li>
        <a href="/contacto" rel="nofollow">Contacto</a>
      </li>
    </ul>
  </nav>
</div>

<div class="c-hero c-hero-full">
  <div class="wrapper">
    <div class="c-hero-details">
      <div class="course-name intermediate">
        <strong>Intermedio</strong>
        <h1 class="heading">
          Responsive Design
          <span></span>
        </h1>
      </div>
      <p class="course-info">
        <span class="icon icon-clock"></span>
        <strong>20</strong>
        h
      </p>
    </div>
  </div>
</div>
