<div class='container'>
  <header id='header'>
    <a href="/blog"><img src="/images/blog/logo.svg" /></a>
    <h1 class='title'>Un poco geek</h1>
    <h2 class='subtitle'>Un blog de <a href="https://redradix.com/">redradix</a></h2>
  </header>
  <%- yield %>
</div>
<div id='footer'>
  <strong><a href="https://redradix.com">redradix</a> &copy; 2017</strong>
</div>
