
<section class='brick overlay slab-white'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Open</span> Source</h2>
  </div>
  <div class='wrapper-full list-badges l-xspace'>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/posters" rel="nofollow">
        <img alt="posters" class="icon-badge" src="/images/repos/repo.svg" />
        <h3 class='name'>posters</h3>
        <span>Posters sobre tecnologías web</span>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/node-base-app" rel="nofollow">
        <img alt="node-base-app" class="icon-badge" src="/images/languages/svg/node.svg" />
        <h3 class='name'>node-base-app</h3>
        <span>Aplicación base para Node.js</span>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/redux-base-app" rel="nofollow">
        <img alt="redux-base-app" class="icon-badge" src="/images/languages/svg/react.svg" />
        <h3 class='name'>redux-base-app</h3>
        <span>Aplicación base para React.js y Redux</span>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/releases-notifier" rel="nofollow">
        <img alt="releases-notifier" class="icon-badge" src="/images/repos/repo.svg" />
        <h3 class='name'>releases-notifier</h3>
        <span>Notificador de actualizaciones en dependencias</span>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/roussian-roulette" rel="nofollow">
        <img alt="roussian-roulette" class="icon-badge" src="/images/repos/repo.svg" />
        <h3 class='name'>roussian-roulette</h3>
        <span>Bot de Slack para elegir voluntarios obligatorios</span>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/kontainer" rel="nofollow">
        <img alt="kontainer" class="icon-badge" src="/images/repos/repo.svg" />
        <h3 class='name'>kontainer</h3>
        <span>Contenedor para inyección de dependencias en JavaScript</span>
      </a>
    </div>

  </div>
</section>

<section class='brick overlay slab-white'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Material de</span> Cursos</h2>
  </div>
  <div class='wrapper-full list-badges l-xspace'>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-introduccion-javascript" rel="nofollow">
        <img alt="curso introduccion javascript" class="icon-badge" src="/images/courses/javascript-basic.svg" />
        <h3 class='name'>Introducción a JavaScript</h3>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-javascript-avanzado" rel="nofollow">
        <img alt="curso javascript avanzado" class="icon-badge" src="/images/courses/javascript.svg" />
        <h3 class='name'>JavaScript avanzado</h3>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-react-redux" rel="nofollow">
        <img alt="curso react redux" class="icon-badge" src="/images/courses/react.svg" />
        <h3 class='name'>React.js y Redux</h3>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-node-js" rel="nofollow">
        <img alt="curso nodejs" class="icon-badge" src="/images/courses/node.svg" />
        <h3 class='name'>Node.js</h3>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-desarrollo-frontend" rel="nofollow">
        <img alt="curso desarrollo frontend" class="icon-badge" src="/images/courses/html-css.svg" />
        <h3 class='name'>Desarrollo frontend</h3>
      </a>
    </div>

    <div class='badge-alt b-os'>
      <a href="https://github.com/redradix/curso-responsive-design" rel="nofollow">
        <img alt="curso responsive design" class="icon-badge" src="/images/courses/responsive.svg" />
        <h3 class='name'>Responsive design</h3>
      </a>
    </div>

  </div>
</section>

</main>

<a class='spotlight slab-dark' href='/contacto'>
  <strong>¿Quieres crear algo con nosotros?</strong> Hablemos
  <span class='icon icon-arrow'></span>
</a>
