<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Product",
  "name" : "Curso de JavaScript avanzado",
  "image" : "https://redradix.com/images/courses/javascript.svg",
  "description" : "Este es un curso de JavaScript avanzado pensado para profesionales que quieran profundizar en buenas prácticas y mecanismos internos de JavaScript",
  "url" : "https://redradix.com/cursos/javascript-avanzado"
  ,
  "offers" : [
    {
      "@type" : "Offer",
      "price" : "575€"
    }
  ]
}
</script>

<!-- hola :)
<section class="spotlight slab-dark">
  <div class="wrapper waiting-list">
    <h3 class="h-gamma gimme-space-bottom">Si te interesa el curso, apúntate a nuestra lista.</h3>
    <div id="mc_embed_signup">
      <form action="//redradix.us6.list-manage.com/subscribe/post?u=3661f2b787a48c03f407f5750&amp;id=75563715da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email
            </label>
            <input type="email" value="" name="EMAIL" placeholder="email" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group input-group" style="display:none;">
            <ul>
              <li><input type="checkbox" value="128" name="group[19017][128]" id="mce-group[19017]-19017-0"><label for="mce-group[19017]-19017-0">React.js y Redux</label></li>
              <li><input type="checkbox" value="256" name="group[19017][256]" id="mce-group[19017]-19017-1"><label for="mce-group[19017]-19017-1">Introducción a JavaScript</label></li>
              <li><input type="checkbox" value="32" name="group[19017][32]" id="mce-group[19017]-19017-2" checked><label for="mce-group[19017]-19017-2">JavaScript Avanzado</label></li>
              <li><input type="checkbox" value="1024" name="group[19017][1024]" id="mce-group[19017]-19017-3"><label for="mce-group[19017]-19017-3">Node.js</label></li>
              <li><input type="checkbox" value="512" name="group[19017][512]" id="mce-group[19017]-19017-4"><label for="mce-group[19017]-19017-4">Desarrollo Frontend: HTML5, CSS3 y jQuery</label></li>
              <li><input type="checkbox" value="64" name="group[19017][64]" id="mce-group[19017]-19017-5"><label for="mce-group[19017]-19017-5">Responsive Design</label></li>
            </ul>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_3661f2b787a48c03f407f5750_75563715da" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Quiero más información" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
</section>
-->

<section class="spotlight slab-dark">
  <div class="wrapper waiting-list">
    <h3 class="h-gamma gimme-space-bottom">Si te interesa el curso, no esperes más</h3>
    <div>
      <a class="button" target="_blank" href="https://redradixsurvey.typeform.com/to/v1pPNk">Apuntarme ya</a>
    </div>
  </div>
</section>

<nav class='internal-nav'>
  <div class='wrapper'>
    <ul>
      <li>
        <a href='#informacion'>Información</a>
      </li>
      <li>
        <a href='#objetivos'>Objetivos</a>
      </li>
      <li>
        <a href='#temario'>Temario</a>
      </li>
      <li>
        <a href='#requisitos'>Requisitos</a>
      </li>
    </ul>
  </div>
</nav>
<section class='brick'>
  <div class='wrapper'>
    <h2 class='h-beta' id='informacion'>Información</h2>
    <p>Este es un curso de JavaScript avanzado orientado a profesionales que tengan por objetivo profundizar en el conocimiento de este lenguaje de programaci&oacute;n.</p>

    <div class="list-specs g l-space">
      <div class="gi one-half desk-wauto">
        <div class="spec">
          <span class="icon icon-presentation"></span>
          <span class="heading">Fecha</span>
          <p class="content">Mayo <strong>22 al 2</strong> de Junio</p>
        </div>
      </div>
      <div class="gi one-half desk-wauto">
        <div class="spec">
          <span class="icon icon-location"></span>
          <span class="heading">Horario</span>
          <p class="content"><strong>L-V de 19-21</strong></p>
        </div>
      </div>
      <div class="gi one-half desk-wauto">
        <div class="spec">
          <span class="icon icon-clock"></span>
          <span class="heading">Duración</span>
          <p class="content">
            <strong>20</strong>
            horas
          </p>
        </div>
      </div>
      <div class='gi one-half desk-wauto'>
        <div class='spec'>
          <span class='icon icon-level'></span>
          <span class='heading'>Nivel</span>
          <p class='content'>
            <strong>Avanzado</strong>
          </p>
        </div>
      </div>
      <div class='gi one-half desk-wauto'>
        <div class='spec'>
          <span class='icon icon-money'></span>
          <span class='heading'>Precio</span>
          <p class='content'>
            <strong>550 €</strong>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<section class='slab-light brick'>
  <div class='wrapper'>
    <h2 class='h-beta' id='objetivos'>Objetivos</h2>
    <p>Conocer el lenguaje a fondo y aprender un repertorio de t&eacute;cnicas para estructurar y ejecutar correctamente aplicaciones sofisticadas con JavaScript.</p>

    <h3 class='h-delta gimme-space-top'>Que aprenderemos</h3>
    <ul class='list-options'>
      <li>MSF</li>
      <li>DSLs</li>
      <li>Patrones</li>
      <li>Optimización</li>
      <li>MVC</li>
      <li>Testing</li>
      <li>Principios de diseño</li>
      <li>Programación funcional</li>
      <li>Javascript avanzado</li>

    </ul>
  </div>
</section>
<section class='brick'>
  <div class='wrapper g'>
    <h2 class='h-beta' id='temario'>Temario</h2>
    <div class='list-details'>
      <ol class="ol-ul responsive-list">
        <li>Conceptos
          <ul>
            <li>Objetos, clases y mensajes</li>
            <li>Las palabras m&aacute;gicas: this y arguments</li>
            <li>Herencia funcional</li>
            <li>Cadena de prototipos</li>
            <li>Simulando herencia cl&aacute;sica</li>
            <li>Herencia de prototipos</li>
            <li>Mixins</li>
            <li>Clausuras</li>
          </ul>
        </li>
        <li>Programaci&oacute;n funcional
          <ul>
            <li>JavaScript es funcional</li>
            <li>Funciones de orden superior y clausuras</li>
            <li>Callbacks: asincron&iacute;a</li>
            <li>Funciones que devuelven funciones</li>
            <li>Composici&oacute;n: bind, defer, throttle, curry</li>
            <li>Memoization</li>
            <li>Promesas y Futuros</li>
            <li>Underscore.js</li>
          </ul>
        </li>
        <li>Patrones y principios de dise&ntilde;o
          <ul>
            <li>Principios</li>
            <li>Tell, Don&#39;t Ask</li>
            <li>S.O.L.I.D.</li>
            <li>Patrones de organizaci&oacute;n</li>
            <li>Par&aacute;metros por defecto, par&aacute;metros con nombre</li>
            <li>M&oacute;dulos y Namespaces</li>
            <li>Controlando el acceso: propiedades privadas</li>
            <li>Patrones de creaci&oacute;n de Objetos</li>
            <li>Factor&iacute;as</li>
            <li>Singleton</li>
            <li>Patrones de abstracci&oacute;n</li>
            <li>Iteradores</li>
            <li>Decorador / Fachada</li>
            <li>Estrategia</li>
            <li>Inyecci&oacute;n de dependencias</li>
            <li>Proxy</li>
            <li>Patrones de interacci&oacute;n</li>
            <li>Pub/Sub u Observador</li>
            <li>Mediator</li>
            <li>Comandos Y Cadena de Responsabilidades</li>
            <li>Hydra</li>
          </ul>
        </li>
        <li>ES6
          <ul>
            <li>Performance</li>
            <li>New Resources</li>
          </ul>
        </li>
        <li>Frameworks
          <ul>
            <li>Paradigmas</li>
            <li>Historias y modelos</li>
            <li>React</li>
            <li>Redux</li>
            <li>Ejercicios</li>
          </ul>
        </li>
      </ol>

    </div>
    <div class='center-actions l-xspace'>
      <a class='button-outline-dark with-icon small' href='https://github.com/redradix/curso-javascript-avanzado' rel="nofollow">
        <span class='icon icon-presentation'></span>
        Descarga el material del curso
      </a>
    </div>
  </div>
</section>
<section class='slab-light brick'>
  <div class='wrapper g'>
    <h2 class='h-beta' id='requisitos'>Requisitos</h2>
    <div class='gi two-thirds'>
      <p>Estar familiarizado con el ecosistema del desarrollo web (HTML, CSS) y tener algo de experiencia previa con JavaScript.</p>

      <p>El material del curso es libre y accesible por cualquier, es muy recomendable revisarlo antes del comienzo de las clases.</p>

    </div>
    <aside class='gi one-third equipment'>
      <div class='box'>
        <div class='equipment-img'>
          <img alt="Equipo" src="/images/courses/equipo.svg" />
        </div>
        <h3 class='h-delta'>Equipo</h3>
        <p>Un portátil con Sistema Operativo Windows, Linux, Mac o Ubuntu.</p>
      </div>
    </aside>

  </div>
</section>

<section class="spotlight slab-dark">
  <div class="wrapper waiting-list">
    <h3 class="h-gamma gimme-space-bottom">Si te interesa el curso, no esperes más</h3>
    <div>
      <a class="button" target="_blank" href="https://redradixsurvey.typeform.com/to/v1pPNk">Apuntarme ya</a>
    </div>
  </div>
</section>
