<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Product",
  "name" : "Curso de React.js y Redux ",
  "image" : "https://redradix.com/images/courses/react.svg",
  "description" : "Un curso presencial muy práctico para aprender a trabajar con React.js y Redux para construir aplicaciones web modernas y rápidas",
  "url" : "https://redradix.com/cursos/react-redux"
  ,
  "offers" : [
    {
      "@type" : "Offer",
      "price" : "575€"
    }
  ]
}
</script>

<section class='spotlight slab-dark'>
  <div class='wrapper waiting-list'>
    <h3 class="h-gamma gimme-space-bottom">Si te interesa el curso, apúntate a nuestra lista.</h3>
    <div id="mc_embed_signup">
      <form action="//redradix.us6.list-manage.com/subscribe/post?u=3661f2b787a48c03f407f5750&amp;id=75563715da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email
            </label>
            <input type="email" value="" name="EMAIL" placeholder="email" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group input-group" style="display:none;">
            <ul>
              <li><input type="checkbox" value="128" name="group[19017][128]" id="mce-group[19017]-19017-0" checked><label for="mce-group[19017]-19017-0">React.js y Redux</label></li>
              <li><input type="checkbox" value="256" name="group[19017][256]" id="mce-group[19017]-19017-1"><label for="mce-group[19017]-19017-1">Introducción a JavaScript</label></li>
              <li><input type="checkbox" value="32" name="group[19017][32]" id="mce-group[19017]-19017-2"><label for="mce-group[19017]-19017-2">JavaScript Avanzado</label></li>
              <li><input type="checkbox" value="1024" name="group[19017][1024]" id="mce-group[19017]-19017-3"><label for="mce-group[19017]-19017-3">Node.js</label></li>
              <li><input type="checkbox" value="512" name="group[19017][512]" id="mce-group[19017]-19017-4"><label for="mce-group[19017]-19017-4">Desarrollo Frontend: HTML5, CSS3 y jQuery</label></li>
              <li><input type="checkbox" value="64" name="group[19017][64]" id="mce-group[19017]-19017-5"><label for="mce-group[19017]-19017-5">Responsive Design</label></li>
            </ul>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3661f2b787a48c03f407f5750_75563715da" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Quiero más información" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
</section>

<nav class='internal-nav'>
  <div class='wrapper'>
    <ul>
      <li>
        <a href='#informacion'>Información</a>
      </li>
      <li>
        <a href='#objetivos'>Objetivos</a>
      </li>
      <li>
        <a href='#temario'>Temario</a>
      </li>
      <li>
        <a href='#requisitos'>Requisitos</a>
      </li>
    </ul>
  </div>
</nav>
<section class='brick'>
  <div class='wrapper'>
    <h2 class='h-beta' id='informacion'>Información</h2>
    <p>React.js, creada por el equipo&nbsp;de Facebook es sin duda alguna la tecnolog&iacute;a client-side que m&aacute;s expectaci&oacute;n ha generado en los &uacute;ltimos dos a&ntilde;os. Su prop&oacute;sito es ayudar a los desarrolladores a crear Single Page Applications con JavaScript que son sencillas de comprender, divertidas de programar&nbsp;y que adem&aacute;s ofrecen un gran rendimiento a los usuarios finales.</p>

    <p>Junto con React.js, el equipo de Facebook tambi&eacute;n lanz&oacute; en formato c&oacute;digo abierto Flux, una arquitectura conceptual para construir SPAs que presenta soluciones originales a los retos habituales del desarrollo front-end.</p>

    <div class='list-specs g l-space'>
      <div class='gi one-half desk-wauto'>
        <div class='spec'>
          <span class='icon icon-clock'></span>
          <span class='heading'>Duración</span>
          <p class='content'>
            <strong>20</strong>
            horas
          </p>
        </div>
      </div>
      <div class='gi one-half desk-wauto'>
        <div class='spec'>
          <span class='icon icon-level'></span>
          <span class='heading'>Nivel</span>
          <p class='content'>
            <strong>Avanzado</strong>
          </p>
        </div>
      </div>
      <div class='gi one-half desk-wauto'>
        <div class='spec'>
          <span class='icon icon-money'></span>
          <span class='heading'>Precio</span>
          <p class='content'>
            <strong>575€</strong>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<section class='slab-light brick'>
  <div class='wrapper'>
    <h2 class='h-beta' id='objetivos'>Objetivos</h2>
    <p>En este curso aprender&aacute;s c&oacute;mo emplear React.js para construir interfaces de usuario completas para una aplicaci&oacute;n Web. Tambi&eacute;n aprender&aacute;s sobre Redux, las ideas clave que trae consigo&nbsp;y c&oacute;mo aplicar esos conceptos al enfocar los requisitos m&aacute;s habituales para cualquier aplicaci&oacute;n del mundo real (gesti&oacute;n de datos y estado en el cliente, rutas y comunicaci&oacute;n con APIs de servidor).</p>

    <h3 class='h-delta gimme-space-top'>Que aprenderemos</h3>
    <ul class='list-options'>
      <li>Eventos</li>
      <li>DOM</li>
      <li>Programación</li>
      <li>Ajax</li>
      <li>Modularidad</li>
      <li>Javascript</li>
      <li>Patrones</li>
      <li>Optimización</li>
      <li>Testing</li>
      <li>Principios de diseño</li>
      <li>Javascript avanzado</li>
      <li>Asincronía</li>

    </ul>
  </div>
</section>
<section class='brick'>
  <div class='wrapper g'>
    <h2 class='h-beta' id='temario'>Temario</h2>
    <div class='list-details'>
      <ol class="responsive-list">
        <li>&iquest;Qu&eacute; es React?
          <ul>
            <li>Single Page Applications</li>
            <li>De p&aacute;gina Web a aplicaci&oacute;n Web</li>
            <li>Problemas comunes y soluciones previas</li>
            <li>As&iacute; que... &iquest;qu&eacute; es React?</li>
            <li>Virtual DOM</li>
            <li>Montar un proyecto React con Webpack y Babel.js</li>
          </ul>
        </li>
        <li>Construyendo componentes de React.js
          <ul>
            <li>Conceptos clave</li>
            <li>&iquest;Qu&eacute; es JSX?</li>
            <li>Nuestro primer componente - Hola Mundo</li>
            <li>Visualizar nuestra aplicaci&oacute;n React en el browser</li>
            <li>Props y validaci&oacute;n de props con PropTypes</li>
            <li>Estado interno de un componente</li>
            <li>Eventos</li>
            <li>Nuestra primera aplicaci&oacute;n interactiva - Cron&oacute;metro</li>
          </ul>
        </li>
        <li>UI complejas con composici&oacute;n
          <ul>
            <li>Componentes padre y componentes hijo</li>
            <li>Comunicaci&oacute;n hijo a padre</li>
            <li>Formularios y controles</li>
            <li>Ciclo de vida de un componente</li>
            <li>Optimizaci&oacute;n de rendimiento</li>
            <li>Construyendo una aplicaci&oacute;n real - Ecommerce</li>
          </ul>
        </li>
        <li>Redux
          <ul>
            <li>Introducci&oacute;n a Redux</li>
            <li>Estado global</li>
            <li>Acciones</li>
            <li>Reducers</li>
            <li>Stores</li>
            <li>Conectando Redux y React</li>
            <li>Organizaci&oacute;n del c&oacute;digo</li>
            <li>Middleware</li>
            <li>Formularios</li>
          </ul>
        </li>
        <li>React y Redux en el mundo real
          <ul>
            <li>Introducci&oacute;n a React Router</li>
            <li>Configuraci&oacute;n de rutas</li>
            <li>Rutas anidadas</li>
            <li>Navegar desde componentes</li>
            <li>APIs REST</li>
            <li>Comunicaci&oacute;n con el servidor</li>
            <li>Acciones as&iacute;ncronas</li>
            <li>Normalizaci&oacute;n de datos</li>
          </ul>
        </li>
        <li>Testing
          <ul>
            <li>Por qu&eacute; es importante el testing</li>
            <li>Mocha</li>
            <li>Sinon.js</li>
            <li>Infraestructura con ES6 y JSX</li>
            <li>Shallow Rendering</li>
            <li>Testing de Reducers</li>
            <li>Testing de Action Creators</li>
            <li>Testing de acceso a APIs</li>
            <li>Cobertura del c&oacute;digo</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class='center-actions l-xspace'>
      <a class='button-outline-dark with-icon small' href='https://github.com/redradix/curso-react-redux' rel="nofollow">
        <span class='icon icon-presentation'></span>
        Descarga el material del curso
      </a>
    </div>
  </div>
</section>
<section class='slab-light brick'>
  <div class='wrapper g'>
    <h2 class='h-beta' id='requisitos'>Requisitos</h2>
    <div class='gi two-thirds'>
      <p>Este es un <strong>curso avanzado</strong> dirigido a desarrolladores front-end con experiencia. Para poder cubrir cada tema del curso con la profundidad deseada, esperamos de los alumnos:</p>

      <ol>
        <li>
          <p>Que tengan experiencia trabajando con HTML, CSS y DOM.</p>
        </li>
        <li>
          <p>Que tengan un nivel medio-alto de JavaScript (funciones, prototipos, clausuras y gesti&oacute;n de &ldquo;this&rdquo; en JS, por ejemplo)</p>
        </li>
        <li>
          <p>Que tengan experiencia con el desarrollo modular utilizando m&oacute;dulos CommonJS (uso de require, exports, etc)</p>
        </li>
      </ol>

      <p>Cualquier experiencia previa con otros frameworks como <strong>Backbone.js, Angular</strong> o similares ayudar&aacute;, puesto que te facilitar&aacute; entender las diferencias y novedades del enfoque ofrecido por React a problemas encontrados habitualmente.</p>

    </div>
    <aside class='gi one-third equipment'>
      <div class='box'>
        <div class='equipment-img'>
          <img alt="Equipo" src="/images/courses/equipo.svg" />
        </div>
        <h3 class='h-delta'>Equipo</h3>
        <p>Un ordenador portátil con Mac/Window/Linux</p>
        <p>Node.js ya instalado</p>
        <p>Un editor con el que te encuentres cómodo (vim, Atom, Sublime Text…)</p>
      </div>
    </aside>
  </div>
</section>
