
<section class='brick slab-light'>
  <div class='wrapper'>
    <ul class='list-services'>
      <li class='service'>
        <strong class='h-epsilon'>Definición</strong>
        <img alt="definicion" src="/images/services/concept.jpg" />
      </li>
      <li class='service'>
        <strong class='h-epsilon'>UX</strong>
        <img alt="ux" src="/images/services/ux.jpg" />
      </li>
      <li class='service'>
        <strong class='h-epsilon'>Diseño</strong>
        <img alt="diseño" src="/images/services/design.jpg" />
      </li>
      <li class='service'>
        <strong class='h-epsilon'>Desarrollo</strong>
        <img alt="desarrollo" src="/images/services/back.jpg" />
      </li>
      <li class='service'>
        <strong class='h-epsilon'>Formación</strong>
        <img alt="formación" src="/images/services/learn.jpg" />
      </li>
    </ul>
  </div>
</section>
<section class='brick process-wrap'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Nuestro</span> Proceso</h2>
    <p>Creemos en convertir ideas originales en productos innovadores. Participamos en todas las fases de desarrollo del mismo, desde la concepción inicial hasta la última línea de código. También puedes contratarnos para que nos ocupemos solo de una de las partes: diseño, frontend o backend.</p>
  </div>
  <div class='process l-xspace'>
    <div class='process-step concept'>
      <div class='wrapper'>
        <div class='info'>
          <h3 class='h-beta'>Definición de producto</h3>
          <p>Partimos de tu idea inicial y te ayudamos a definir correctamente el producto. Sin funcionalidades de más ni desarrollos innecesarios. Solo aquello que te aporte valor. Un producto simple, atractivo y con una propuesta de valor clara. </p>
        </div>
        <div class='proc-img'>
          <img alt="definicion" src="/images/process/concept.png" />
        </div>
      </div>
    </div>
    <div class='process-step scrum'>
      <div class='wrapper'>
        <div class='info'>
          <h3 class='h-beta'>Metodologías ágiles</h3>
          <p>Utilizamos un enfoque de gestión de proyectos iterativo, de colaboración y orientado a la entrega de resultados.</p><p>Promovemos una planificación adaptativa, desarrollo evolutivo, entregas tempranas y mejora continua fomentando una respuesta rápida y flexible a los cambios</p>
        </div>
        <div class='proc-img'>
          <img alt="metodologias agiles" src="/images/process/scrum.png" />
        </div>
      </div>
    </div>
    <div class='process-step design'>
      <div class='wrapper'>
        <div class='info'>
          <h3 class='h-beta'>Diseño y UX</h3>
          <p>Si un producto no se usa no sirve de nada. Creamos aplicaciones fascinantes adaptadas a todo tipo de dispositivos móviles. La estructura de los contenidos, facilidad de navegación, interacción, una capa visual atractiva y UX son claves para el éxito del producto.</p>
        </div>
        <div class='proc-img'>
          <img alt="diseño y ux" src="/images/process/design.png" />
        </div>
      </div>
    </div>
    <div class='process-step frontend'>
      <div class='wrapper'>
        <div class='info'>
          <h3 class='h-beta'>Desarrollo frontend</h3>
          <p>De poco sirve un diseño bonito si no eres capaz de implementarlo. Nuestro equipo está especializado en HTML5, CSS3 y JavaScript para llevar a la pantalla cualquier diseño que puedas imaginar. Desarrollamos estructuras modulares, fácilmente mantenibles y completamente escalables.</p>
        </div>
        <div class='proc-img'>
          <img alt="desarrollo frontend" src="/images/process/frontend.png" />
        </div>
      </div>
    </div>
    <div class='process-step backend'>
      <div class='wrapper'>
        <div class='info'>
          <h3 class='h-beta'>Desarrollo backend</h3>
          <p>Desarrollamos utilizando las tecnologías que nos permiten mayor flexibilidad y capacidad. Somos expertos en Node.js. Si tienes dudas sobre la arquitectura de la aplicación consúltanos, analizamos tu proyecto y te asesoramos dándote la mejor solución.</p>
        </div>
        <div class='proc-img'>
          <img alt="desarrollo backend" src="/images/process/backend.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class='brick overlay slab-white'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Las tecnologías que</span> Utilizamos</h2>
  </div>
  <div class='wrapper-full list-badges l-xspace'>
    <div class='badge b-javascript'>
      <img alt="Javascript" class="icon-badge" src="/images/languages/svg/javascript.svg" />
      <strong class='name'>Javascript</strong>
    </div>
    <div class='badge b-react'>
      <img alt="React" class="icon-badge" src="/images/languages/svg/react.svg" />
      <strong class='name'>React</strong>
    </div>
    <div class='badge b-node'>
      <img alt="Node" class="icon-badge" src="/images/languages/svg/node.svg" />
      <strong class='name'>Node</strong>
    </div>
    <div class='badge b-html'>
      <img alt="Html5" class="icon-badge" src="/images/languages/svg/html5.svg" />
      <strong class='name'>HTML5</strong>
    </div>
    <div class='badge b-css'>
      <img alt="Css3" class="icon-badge" src="/images/languages/svg/css3.svg" />
      <strong class='name'>CSS3</strong>
    </div>
    <div class='badge b-phonegap'>
      <img alt="Phonegap" class="icon-badge" src="/images/languages/svg/phonegap.svg" />
      <strong class='name'>Apache Cordova</strong>
    </div>
  </div>
</section>
</main>
<section class='brick overlay slab-light'>
  <div class='wrapper'>
    <h2 class='h-alpha'><span>Cursos de</span> Tecnología</h2>
    <h2 class='h-gamma'>Una escuela por y para creadores excepcionales</h2>
    <p>Estamos creando la escuela que nos habría gustado para nosotros mismos. Un escuela hecha por gente extraordinaria. Formamos a particulares y empresas sobre las tecnologías con las que que trabajamos cada día</p>
    <div class='list-badges list-quarter l-xspace'>
      <a href='https://redradix.com/cursos'>
        <div class='badge b-javascript'>
          <img alt="Javascript" class="icon-badge" src="/images/languages/svg/javascript.svg" />
          <strong class='name'>Javascript</strong>
        </div>
        <div class='badge b-mobile'>
          <img alt="Mobile" class="icon-badge" src="/images/languages/svg/mobile.svg" />
          <strong class='name'>Mobile</strong>
        </div>
        <div class='badge b-html'>
          <img alt="Html css" class="icon-badge" src="/images/languages/svg/html-css.svg" />
          <strong class='name'>HTML y CSS</strong>
        </div>
        <div class='badge b-react'>
          <img alt="React" class="icon-badge" src="/images/languages/svg/react.svg" />
          <strong class='name'>React.js</strong>
        </div>
      </a>
    </div>
  </div>
</section>

<a class='spotlight slab-dark' href='/contacto'>
  <strong>¿Quieres crear algo con nosotros?</strong> Hablemos
  <span class='icon icon-arrow'></span>
</a>
